
* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}



body {
  margin: 0;
}


main {
  display: block;
}



h1 {
  font-size: 2em;
  margin: 0.67em 0;
}



hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}



pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}



a {
  background-color: transparent;
}



abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}



b,
strong {
  font-weight: bolder;
}



code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}



small {
  font-size: 80%;
}



sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}



sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}



img {
  border-style: none;
}


button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}



button,
select {
  /* 1 */
  text-transform: none;
}



button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}



button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}



button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}



fieldset {
  padding: 0.35em 0.75em 0.625em;
}



legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}



progress {
  vertical-align: baseline;
}



textarea {
  overflow: auto;
}



[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}


[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}



[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}



[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}



::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}



details {
  display: block;
}



summary {
  display: list-item;
}



template {
  display: none;
}


[hidden] {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: "poppins", sans-serif; */
  font-family: "Nunito", sans-serif;
  background-color: #8ec1fd;
  height: 100vh;
  box-sizing: border-box;
}

.home {
  display: grid;
  grid-template-columns: 277px 1fr;
  height: 100vh;
}

.home_one {
  background: #ffaded;
  width: 277px;
  border-radius: 0 30px 30px 0;
}

.home_two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment {
  padding: 10px;
  outline: none;
  border: none;
  width: 100%;
  border-radius: 5px;
}

#validationMessage {
  padding: 10px;
  background: rgb(187, 39, 39);
  border-radius: 5px;
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}


.expense_form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 350px;
  margin: 0 auto;
  row-gap: 15px;
}

.circle {
  border-radius: 60px;
  background-color: white;
  border: 0.1px solid;
  height: 90px;
  width: 90px;
  margin-top: -80px;
  margin-left: 80px;
}

.home_one p {
  color: white;
  font-weight: 550;
  margin-left: 76px;
  margin-top: 50px;
}

.das {
  display: flex;
  flex-direction: column;
  height: 350px;
  /* background-color: green; */
  justify-content: space-around;
}

.dash {
  background-color: #ffaded;
  margin-left: 50px;
  transition: background-color 0.3s ease;
}

.dash:hover {
  background-color: #f8fcf8;
  /* Changing background color to green on hover */
}

.dash p {
  margin-top: -33px;
  color: black;
}

.dash p a {
  color: black;
  text-decoration: none;
}

.welcome_name {
  color: black !important;
}

.add_expense {
  color: #716f6f;
  font-size: 36px;
}


.dropdown {
  display: inline block;
}

.dropdown h3 {
  margin-left: 182px;
  margin-top: 100px;
}

/* .dropdown button{
  background-color: white;
  color: rgb(104, 102, 102);
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  width: 250px;
  border-radius: 2px;
  font-weight: bolder;
} */

.dropdown a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}

.dropdown .content {
  display: none;
  position: absolute;
  background-color: #8ec1fd;
  min-width: 100px;
  box-sizing: 2px 2px5px black;
}

.dropdown:hover .content {
  display: block;
  margin-left: 182px;
}

input {
  padding: 15px;
  border: 1px solid #ccc;
  outline: none;
  width: 100%;
  border-radius: 5px;

}

/* input:not(:last-child) {
  margin-top: 45px;
} */

/* button {
  padding: 10px 20px;
  border-radius: 11px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
} */

button {
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.dropdown:hover button {
  background-color: black;
  font-weight: bold;
  color: white;
}

.dropdown a:hover {
  background-color: #ffaded;
}

.dashboard {
  display: flex;
  background: #ffffff80;
  /* flex-direction: row; */
  width: 95%;
  height: 100px;
  margin: 50px;
  border-radius: 20px;
  justify-content: space-around;
}

.expenselogo1 {
  display: flex;
  background: #e3e496;
  width: 355px;
  height: 80px;
  margin-top: 8px;
  margin-left: 5px;
  border-radius: 20px;
  /* justify-content: space-between; */
}

.expenselogo1 img {
  height: 60px;
  margin-left: 15px;
  margin-top: 10px;
}

.expenselogo2 {
  display: flex;
  background: #83a4e4;

  width: 355px;
  height: 80px;
  margin-top: 8px;
  margin-left: 30px;
  border-radius: 20px;
  /* justify-content: space-between; */
}

.expenselogo2 img {
  height: 60px;
  margin-left: 15px;
  margin-top: 10px;
}

.expenselogo3 {
  display: flex;
  background: #95e382;

  width: 355px;
  height: 80px;
  margin-top: 8px;
  margin-left: 30px;
  border-radius: 20px;
  /* justify-content: space-between; */
}

.expenselogo3 img {
  height: 60px;
  margin-left: 15px;
  margin-top: 10px;
}

.expenses {
  display: flex;
  background: #ffffff80;
  width: 90%;
  height: 100px;
  margin: 50px;
  border-radius: 20px;
  justify-content: space-around;
}

.shopping {
  background: #9dffbe;
  width: 180px;
  height: 80px;
  margin-top: 10px;
  border-radius: 13px;
}

.shopping img {
  margin-top: 23px;
  margin-left: 20px;
  height: 40px;
}

.Electricity {
  background: #fda4a4;

  width: 180px;
  height: 80px;
  margin-top: 10px;
  border-radius: 13px;
}

.Electricity img {
  margin-top: 23px;
  margin-left: 20px;
  height: 40px;
}

.food {
  background: #ffd78a;
  width: 180px;
  height: 80px;
  margin-top: 10px;
}

.food img {
  margin-top: 23px;
  margin-left: 20px;
  height: 40px;
}

.food {
  background: #ffd78a;
  width: 180px;
  height: 80px;
  margin-top: 10px;
  border-radius: 13px;
}

/* .fuel{
background: #8cc0f1;
width: 180px;
height: 80px;
margin-top: 10px;
border-radius: 13px;

} */

.fuel {
  background: #8cc0f1;
  width: 180px;
  height: 80px;
  margin-top: 10px;
  border-radius: 13px;
}

.fuel img {
  margin-top: 23px;
  margin-left: 20px;
  height: 40px;
}

.others {
  background: #d5a0ff;
  border-radius: 13px;
  width: 180px;
  height: 80px;
  margin-top: 10px;
}

.others img {
  margin-top: 23px;
  margin-left: 20px;
  height: 40px;
}

select {
  background-color: #03cd85;
  color: rgb(247, 244, 244);
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  width: 250px;
  border-radius: 2px;
  font-weight: bolder;
  width: 100%;
}

option {
  background-color: white;
  color: black;
}

.category_list {
  display: flex;
  width: 100%;
  height: 90px;
  margin-left: 90px;
  background-color: rgb(153, 231, 153);
}



/* Expenses */
.expenses_list{
  width:100%;
  display:grid;
  grid-template-columns:  1fr 1fr 1fr 1fr;
  gap:10px;
}


.expense_item{
  background:rgb(247, 244, 244);
  text-align:center;
  padding:15px;
  border-radius:5px;
}


.expense_category_image{
  width:30px;
  height:30px;
}

.color-grocery {
  filter: sepia(1) hue-rotate(90deg) saturate(5);
}

.color-electricity {
  filter: sepia(1) hue-rotate(200deg) saturate(5);
}

.color-food {
  filter: sepia(1) hue-rotate(60deg) saturate(5);
}

.color-fuel {
  filter: sepia(1) hue-rotate(30deg) saturate(5);
}

.color-others {
  filter: sepia(1) hue-rotate(300deg) saturate(5);
}
